.apparel {
    margin-top: 3%;
}

.apparel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shop-button {
    height: 40px;
    width: 150px;
    border: none;
    position: absolute;
    bottom: 4.3%;
    left: 25%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: 600;
}
