.bags img {
    height: 130px;
  }
  
  .bags p {
    font-size: 13px;
  }
  
  @media (max-width: 576px) {
    .bags img {
      height: 100px;
    }
  
    .bags p {
      font-size: 11px;
    }
  
    .ps-4 {
      padding-left: 15px !important;
    }
  
    .ms-4 {
      margin-left: 15px !important;
    }
  
    .mt-5 {
      margin-top: 20px !important;
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .bags img {
      height: 110px;
    }
  
    .bags p {
      font-size: 12px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .bags img {
      height: 120px;
    }
  
    .bags p {
      font-size: 13px;
    }
  }
  
  @media (min-width: 993px) {
    .bags img {
      height: 130px;
    }
  
    .bags p {
      font-size: 13px;
    }
  }
  